<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>Form Styling</title>
    <link
      href='https://fonts.googleapis.com/css?family=Raleway'
      rel='stylesheet'
    />
    <link rel='stylesheet' href='./css/add_product.css' />
    <style>
      * { box-sizing: border-box; margin: 0; padding: 0; } #container {
      background: #ffff; height: 100%; max-width: 600px; margin: 20px auto; }
    </style>
  </head>

  <body>

    {{{body}}}

  </body>

</html>