<div id='container'>
  <div class='form-wrap'>
    <h1>HELLO, ADMIN</h1>
    <p>Add new product here</p>
    <br />
    <form
      method='POST'
      action='http://localhost:5000/api/products/add-product'
      enctype='multipart/form-data'
    >

      <div class='form-group'>
        <label for='title'>Name of Product</label>
        <input type='text' name='title' id='title' />
      </div>

      <div class='form-group'>
        <label for='price'>Price</label>
        <input type='number' name='price' id='price' min='0' step='0.01' />
      </div>

      <div class='form-group'>
        <label for='brand'>Name of Brand</label>
        <input type='text' name='brand' id='brand' />
      </div>

      <div class='form-group'>
        <label for='description'>Description</label>
        <input type='text' name='description' id='description' />
      </div>

      <br />
      <div class=''>
        <label for='sale'>On Sale?</label>
        <input type='checkbox' id='sale' name='sale' id='sale' value='true' />
      </div>
      <br />
      <div class='form-group'>
        <label for='count'>Count</label>
        <input type='number' name='count' id='count' />
      </div>
      <div class='form-group'>
        <label for='category'>Category</label>
        <select name='category' id='category'>
          <option value=''>--Select--</option>
          <option value='beauty'>Beauty</option>
          <option value='electronics'>Electronics</option>
          <option value='baby'>baby</option>
          <option value='home'>Home</option>
          <option value='sports'>Sports</option>
          <option value='books'>Books</option>
          <option value='food'>Food</option>
        </select>

        {{!  }}

        {{! duplicate }}

        <select name='category' id='category'>
          <option value=''>--Select--</option>
          {{#each categories}}
            <option value='{{this}}'>{{this}}</option>
          {{/each}}

        </select>
      </div>

      <div class='form-group'>
        <label for='image'>Image</label>
        <input type='file' name='image' id='image' />
      </div>
      <button type='submit' class='btn'>Add Product</button>
      <br />
    </form>

  </div>

  <footer>
  </footer>
</div>